$background-primary: #e3f6fc;
$background-secondary: #6588de;
$background-ternary: #f2f6f7;
$background-quaternary: #f3ba4a;

$text-primary: #52585d;
$text-secondary: #fdfdfe;
$text-ternary: #f2f6f7;
$text-quaternary: #96a9ba;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$border-radius: 14px;
