@import '../../styles/variables';

.dialogs {
  background-color: $background-primary;
  border-radius: $border-radius $border-radius 0px 0px;
  overflow-y: auto;

  &__wrapper {
    padding: 24px 20px;
  }
}
